.menu img {
    width: 50px;
    margin-left: 10px;
}
.menu ul li {
    margin-right: 15px;
}
.menu ul li:hover {
    background-color: #146fd0;
}
.menu ul li a{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}
.menu ul li a:hover{
    color: #ffffff;
}
.body-b {
    background-image: linear-gradient(to bottom, #cccccc, #ffffff);
}
.dn {
    padding: 150px 0 100px;
}
.body-in {
    background-color: #ffffff;
}
.dn .bt-dn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
footer .footer-body {
    background-color: #ababab;
}
footer .footer-in {
    padding: 50px;
}
footer ul li{
    list-style: none;
    font-size: 20px;
    font-weight: lighter;
}
footer ul li a{
    text-decoration: none;
    color: #000000;
}
footer .footer-foot {
    padding: 20px 0 10px;
    color: #ffffff;
}